html {
    max-width: 900px;
    margin: auto;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

body {
    margin: 40px;
    background-color: var(--background);
    }

/* ----------Variables---------- */
:root {
    --tiny: 2.7rem;
    --small: 3.2rem;
    --medium: 4rem;
    --large: 7rem;
    --colour-one: rgb(21, 21, 21);
    --colour-two: #BAA899;
    --colour-three: rgb(116, 65, 7);
    --indent: 1em;
    --background: #f8f7f2;
    --inner-grid: 820px;
  }

/* ----------Nav---------- */
nav  {
    min-height: 40vh;
    display: block;
    margin-bottom: 60px;
    font-weight: 800;
}

nav a {
    position: sticky;
    top: 20px;
}

/* ----------Grid---------- */

.grid {
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / span 6;
    grid-column-gap: 20px;
    grid-row-gap: 0; 
} 

p, h1, h2 {
    grid-column: 1 / span 3;
}

p {
    margin-bottom: 60px;
    padding-left: var(--indent);
    max-width: 65ch;
}

/* ----------Image position and span---------- */
.left  {
    grid-column: 1 / span 4;
    z-index: 10;
}

.right {
    grid-column: 5 / span 2;
    margin-left: auto;
    z-index: 10;
}

.full {
    border: 10px solid blue;    
    max-width: var(--inner-grid);
    margin: auto;
  }

.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 40px;
    background-color: var(--colour-two);
  }

figcaption {
    color: var(--colour-one);
    font-size: var(--tiny);
    display: block;
    position: relative;
    margin: auto;
    border-top: 1px solid #7e7166;
    margin-top: var(--indent);
}

figure {
    margin-bottom: var(--indent);
}

.sticky {
    position: sticky;
    top: -1px;
}

/* ----------Figures---------- */
figcaption::before {
    content: "!!";
    margin-left: -15px;
    margin-right: 5px;
}

/* ----------Responsive grid, position, span and size---------- */
@media (max-width: 300px) {
    p {
        padding-left: 0px;
    }
    p, h1, h2 {
        grid-column: 1 / span 6;
        max-width: 65ch;
    }   
    .left  {
        grid-column: 1 / span 6;
        z-index: 10;
    }  
    .right {
        grid-column: 1 / span 6;
        margin-left: 0px;
    }  
    .full-bleed {
        width: 100vw;
        padding: 10px;
        background-color: var(--colour-two);
      }

    body {
     margin: 20px;
     background-color: pink;
    }
}

@media (min-width: 300px) {
    p {
        padding-left: 0px;
    }
    p, h1, h2 {
        padding-left: 0px;
        grid-column: 1 / span 6;
        max-width: 65ch;
    }   
    .left  {
        grid-column: 1 / span 6;
        z-index: 10;
    }  
    .right {
        grid-column: 1 / span 6;
        margin-left: 0px;
    }  

    .full-bleed {
        width: 100vw;
        padding: var(--indent);
        background-color: var(--colour-two);
      }

    body {
     margin: 20px;
     background-color: pink;
    }
}

@media (min-width: 500px) {
    p {
        padding-left: var(--indent);
    }
    p, h1, h2 {
        grid-column: 1 / span 5;
        max-width: 65ch;        
    }   
    .left  {
        grid-column: 1 / span 5;
        z-index: 10;
    }  
    .right {
        grid-column: 4 / span 3;
        margin-left: auto;
    }   
    .sticky {
        position: relative;
    } 
    
    .full-bleed {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        padding: var(--indent);
        background-color: var(--colour-two);
      }
}

@media (min-width: 600px) {
    .sticky {
        position: relative;
    }  
}

@media (min-width: 700px) {
    p, h1, h2 {
        grid-column: 1 / span 4; 
        max-width: 65ch;   
    }   
    .left  {
        grid-column: 1 / span 4;
        z-index: 10;
    }  
    .right {
        grid-column: 5 / span 3;
    }  
    .sticky {
        position: sticky;
        top: -1px;
    }
}

@media (min-width: 800px) {
    p, h1, h2 {
        grid-column: 1 / span 4;
        max-width: 50ch;   
    }   
    .left  {
        grid-column: 1 / span 4;
    }  
    .right {
        grid-column: 5 / span 2;
    }  
}


/* ----------Links---------- */
a {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    color: red;
}

a:hover {
    color: magenta;
}
  
  a:focus {
    text-decoration-thickness: 3px;
    text-underline-offset: 0.25em;
    outline: none;
    background-color: rgb(216, 216, 161);
    padding-bottom: 2px;
  }
  
  a:active {
    outline: none;
    background-color: rgb(216, 216, 161);
  }

/* ----------Font sizing---------- */
html {
    font-size: 6px;
}

@media (max-width: 500px) {
    html {
        font-size: 5px
    }
}

body {
    font-size: var(--small);
    line-height: 1.4em;
    font-weight: 400;
}

/* ----------Type style----------s */
.heading-caption {
    display: inline;
    font-size: var(--small);
    color: var(--colour-three);
    padding-right: 1rem;
}

h1, h2 {
    font-size: var(--small);
    font-weight: 800;
    margin-bottom: var(--indent);
}

/* ----------Post its---------- */
 .postit {
    max-width: var(--inner-grid);
    margin: auto;
    grid-column: 1 / span 6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px;
  }

  @media all and (min-width: 300px) {
    .postit-item {
      max-width: 50%;
    }
  }

  @media all and (min-width: 500px) {
    .postit-item {
      max-width: 33.333%;
    }
  }

  @media all and (min-width: 700px) {
    .postit-item {
      max-width: 25%;
    }
  }

  @media all and (min-width: 1000px) {
    .postit-item {
      max-width: 20%;
    }
  }

  .postit-item {
    display: flex; 
    width: 100%;
    background-color: rgb(249, 249, 175);
    border: 0.7px solid;
    border-color: var(--colour-two);
    min-height: 10vh;
  }

  .postit-content {
    font-size: var(--tiny);
    display: flex;
    flex-direction: column;
    width: 100%;
 } 

 .postit-content p {
   flex: 1 0 auto;
   padding: 15px;
   color: rgb(0, 0, 0);
   line-height: 1.2em;
 }

/* ----------Pagination---------- */
.pagination {
    /* background-color: red; */
    /* border-top: 1px solid black; */
}
.pagination p {
    font-size: var(--tiny);
    font-weight: 400;
    color: var(--colour-three);
    padding-left: 0;
    margin-bottom: 0;
}
.next  {
    padding: 20px 0 30px 0;
    /* border-top: 1px solid black; */
}
.prev  {
    padding: 20px 0 30px 0;
    border-top: 1px solid black;
}
.home {
    padding: 20px 0 30px 0;
    border-top: 1px solid black;
}

/* .next::after {
    content: url(/assets/images/next.svg);
    display: inline-block;
    position: relative;
    top: 15px;
    left: 20px;
}

.prev::before {
    content: url(/assets/images/prev.svg);
    display: inline-block;
    position: relative;
    top: 15px;
    right: 20px;
    margin-left: 20px;
} */