html {
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

body {
    margin: 10px 50px 10px 50px;
    }

/* Nav */
nav  {
    min-height: 40vh;
    display: block;
    margin-bottom: 40px;
}

nav a {
    position: sticky;
    top: 20px;
}

/* Pagination */
.next, .prev {
    display: block;
    border-top: 2px solid black;
    padding: 40px 0 40px 0;
}

.next::before {
    display: inline-block;
    content: "!!";
}

.prev::before {
    display: inline-block;
    content: "!!";
}

/* Grid */
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
    grid-column-gap: 40px;
    grid-row-gap: 0;
} 

p, h1, h2 {
    grid-column: 1 / span 1;
}

p {
    margin-bottom: 50px;
    margin-left: 40px;
}

/* Position and span */
.left  {
    grid-column: 1 / span 1;
}

.right {
    grid-column: 2 / span 1;
}

.full {
    grid-column: 1 / span 2;
}

.sticky {
    position: sticky;
    top: -1px;
}

/* Size */
.small {
    width: 50%;
}

/* Responsive grid, position, span and size */

@media (max-width: 700px) {
    p, h1, h2 {
        border: 2px solid rgb(180, 114, 250);
        display: grid;
        grid-column: 1 / span 2;
        grid-column-gap: 40px;
        grid-row-gap: 0;
    }

    .small {
        border: 2px solid rgb(180, 114, 250);
        grid-column: 1 / span 2;
    }

    .sticky {
        position: relative;
    }
}

/* Figures */
figure {
    margin-bottom: 40px;
    margin-right: 20px;
}

img, figcaption {
    margin-left: 40px;
}

figcaption::before {
    content: "!!";
    margin-left: -30px;
    margin-right: 20px;
}

/* Typography */

/* Links */
* {
    text-decoration-thickness: 0.6px;
    text-underline-offset: 0.2em;
}

/* Font sizing */
html {
    font-size: 1px;
}

@media (min-width: 1000px) {
    html {
        font-size: 1px
    }
}

@media (max-width: 500px) {
    html {
        font-size: 0.85px
    }
}

body {
    font-size: 20rem;
    line-height: 28rem;
    font-weight: 400;
    letter-spacing: 0;
}

/* Type styles */
.heading-caption {
    display: inline;
    font-size: 20rem;
    color: brown;
    padding-right: 10px;
}

h1, h2 {
    font-size: 20rem;
    line-height: 28rem;
    font-weight: 800;
}

figcaption {
    color: red;
}

