
<nav>
  <div class="[ pagination ] [ next ]">
    <a href="/index">Next case study</a>
  </div>
  <div class="[ pagination ] [ prev ]">
    <a href="/index">Previous case study</a>
  </div>
  <div class="[ pagination ] [ home ]">
    <a href="/index">Home</a>
  </div>
</nav>
